<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for( feed_item.user ), feed_item.user %>

  <%= feed_item.image.url %>
  <%= image_tag feed_item.to_azure_url(:medium) %>
  <%= image_tag feed_item.image.url(:thumb) %>

  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    <%= t('.posted') %> <%= time_ago_in_words( feed_item.created_at ) %> <%= t('.ago') %>
  </span>
  <%= render 'shared/micropost_delete_link', object: feed_item %>
</li>
