<div class="row">
  <aside class="span12 _box">
    <div class="_box-inner">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </div>
  </aside>
</div>
<div class="row">
  <div class="span12">
    <hr class="_hr">

<% if false %>
    <h3><%= t('w.microposts') %></h3>
    <%= render 'shared/feed' %>
<% end %>

  <h3>最近の投稿</h3>
  <% if @feed_items.any? %>
  <%= will_paginate @feed_items %>
  <ol class="microposts">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
  <% end %>
</div>
</div>
