<div class="row">
  <span class="span12">

    <aside class="offset1 span10 _box">
      <div class="_box-inner">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </div>
    </aside>

    <% if @feed_items.any? %>
    <span class="offset1 span10">
      <hr class="_hr">
      <h3>最新のレビュー</h3>
      <%= will_paginate @feed_items, previous_label: t('w.previous'), next_label: t('w.next') %>
    </span>
    <span class="offset1 span10 review-box">
      <ol class="microposts">
        <%= render partial: 'shared/feed_item', collection: @feed_items %>
      </ol>
    </span>
    <span class="offset1 span10">
      <%= will_paginate @feed_items, previous_label: t('w.previous'), next_label: t('w.next') %>
    </span>
    <% end %>

  </span>
</div>
