<div class="center hero-unit">
  <h1>Welcome to the Meshiya. Are you hungry?</h1>

  <h2>
    This is the home page for the
    <a href="http://meshiya.herokuapp.com/">Sansa projects.</a>
    sample application.
  </h2>

  <%= link_to t('w.signup'), signup_path, class: "btn btn-large btn-primary" %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<%= link_to image_tag("html5.png", alt: "html5"), 'http://www.w3.org/TR/html5/' %>
<%= link_to image_tag("sass.png", alt: "sass"), 'http://sass-lang.com/' %>
<%= link_to image_tag("ruby.png", alt: "Ruby"), 'https://www.ruby-lang.org/' %>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<%= link_to image_tag("heroku.png", alt: "Heroku"), 'http://www.heroku.com/' %>
<%= link_to image_tag("bootstrap.png", alt: "Bootstrap"), 'http://getbootstrap.com/' %>
<%= link_to image_tag("postgres.png", alt: "postgres"), 'http://www.postgresql.org/' %>
<%= link_to image_tag("github.png", size: "146x145", alt: "github"), 'https://github.com/' %>
<%= link_to image_tag("git.png", :size => "269x100", alt: "git"), 'http://git-scm.com/' %>
<%= link_to image_tag("debian.png", size: "100x100", alt: "debian"), 'http://www.debian.or.jp/' %>
<%# link_to image_tag("ubuntu.png", alt: "ubuntu"), 'http://www.ubuntu.com/' %>

<%= link_to image_tag("zoi.png", size: "100x80", alt: "zoi"), 'http://tokutaro28.tumblr.com/' %>

