<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t('app.title'), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to t('w.home'),    root_path %></li>
          <li><%= link_to t('w.help'),    help_path %></li>

          <% if signed_in? %>
            <%= render 'layouts/header_signed_in' %>
          <% else %>
            <%= render 'layouts/header_no_signed_in' %>
          <% end %>

        </ul>
      </nav>
    </div>
  </div>
</header>
